
@layer components {

    .dropdown {
        position: relative;
        // TODO: Need to work on this this below items 
        // z-index: 1; 
        // dropshadow on dropdwon open
        // &:before { 
        //     display: none;
        //     position: fixed;
        //     inset:0;
        //     background: var(--color-primary-tint-200);
        //     content: '';
        //     z-index: -1;
        // }
        // &:has([data-dropdown="open"]) {
        //     &:before {
        //         display: block;
        //     }
        // }
        // dropshadow on dropdwon open end
        &>&-menu { 
            position: absolute; 
            display: none; 
            transform:translateX(var(--dropdown-position)) translateY(calc(var(--dropdown-arrow-size) / 2 + var(--size-1)));
            --top: 100%;
            --left:auto;
            --dropdown-position:0%;
            top: var(--top, initial);
            left: var(--left-dropdown-position, initial);
            right: var(--right-dropdown-position, initial);
            z-index: var(--index-50);
        }

        &-menu {
            --dropdown-width: 15rem;
            --dropdown-arrow-size: 0.75rem; //12px
            --dropdown-bg: var(--color-white);
            --dropdown-radius: var(--radius-rounded); 
            --dropdown-border: transparent;  
            --dropdown-shadow: var(--shadow-lg);
            --dropdown-padding-inline: var(--size-2);
            --dropdown-padding-block: var(--size-3);
            min-width: var(--dropdown-width);
            background: var(--dropdown-bg);
            border: 1px solid;
            border-color: var(--dropdown-border);
            box-shadow: var(--dropdown-shadow);
            padding: var(--dropdown-padding-block) var(--dropdown-padding-inline);
            border-radius: var(--dropdown-radius);
            position: relative;


            &[data-align="start"] {
                --dropdown-position:0%;
                --left-arrow-position:1rem;
                --right-arrow-position:auto;
                .icon.xl + & {
                    --left-arrow-position:1rem;
                }
                .icon + & {
                    --left-arrow-position:0.5rem;
                }
            }
            // data-align="start" end
            &[data-align="center"] {
                --dropdown-position:-50%; 
                --left-arrow-position:calc(50% - (var(--dropdown-arrow-size) / 2));
                --left-dropdown-position:50%;
            }
            // data-align="center" end
            &[data-align="end"] {
                --dropdown-position:0%;
                --right-arrow-position:1rem;
                --right-dropdown-position:0;
                --left-arrow-position:auto;
                .icon.xl + &  {
                    --right-arrow-position:1rem;
                }
                .icon + &  {
                    --right-arrow-position:0.5rem;
                }
            }
            // data-align="end" end
            // dropdown arrow style
            &[data-arrow="true"] {
                &:after {
                    height:var(--dropdown-arrow-size);
                    aspect-ratio: var(--ratio-square);
                    border:1px solid var(--dropdown-border);
                    border-right: transparent; 
                    border-bottom: transparent; 
                    border-top-left-radius: var(--radius-sm);
                    background: var(--dropdown-bg);
                    content: ' ';
                    display: block;
                    position: absolute;
                    z-index: 1;
                    left: var(--left-arrow-position);
                    right: var(--right-arrow-position, auto);
                    bottom: calc(100% - calc(var(--dropdown-arrow-size) / 2));
                    rotate: 45deg;
                }
            }     
        }
        &-toggle {
            &[data-dropdown='open']{
                &:has( svg ) {
                    display: flex;
                    gap: var(--size-1);
                    align-items: center;
                    box-shadow: var(--shadow-md);
                        > svg.dropdown-icon {
                            transform-origin: center;
                            transform: rotate(180deg);
                        }   
                }
                    + .dropdown-menu  {
                        display: block;
                    }
            }
            // data-dropdown='open' end
         }
        //  .dropdown-toggle end 
    }

   

    
}