
@layer components {

    .dropdown {
        &[data-state="open"] {
           outline: solid;
           outline-color: var(--color-neutrals-100);
        }
        --top: 100%;
        --right: auto;
        --dropdown-width: 15rem;
        --dropdown-bg: var(--color-white);
        --dropdown-radius: var(--radius-md); 
        --dropdown-border: var(--color-neutrals-400);  
        --dropdown-shadow: var(--shadow-xl);
        --dropdown-arrow-size: 1rem;
        --dropdown-position:0%;
        position: relative;
        z-index: 1;
        &:has([data-dropdown="open"]) {
            &:before {
                position: fixed;
                inset:0;
                background: var(--color-primary-tint-200);
                content: '';
                z-index: -1;
            }
        }
        &>&-menu {
            top: var(--top, initial);
            // right: var(--right, initial);
            // bottom: var(--bottom, initial);
            // left: var(--left, initial);
            min-width: var(--dropdown-width);
            background: var(--dropdown-bg);
            position: absolute;
            border: 1px solid;
            border-color: var(--dropdown-border);
            box-shadow: var(--dropdown-shadow);
            padding: var(--size-2);
            padding-block: var(--size-4);
            border-radius: var(--dropdown-radius);
            display: none;
            z-index: var(--index-50);
            transform:translate(var(--dropdown-position), 12px);
            
            
            &:after {
                --arrow-left-position:1rem;
                --arrow-right-position:initial;
                height:var(--dropdown-arrow-size);
                aspect-ratio: var(--ratio-square);
                transform: rotate(45deg);
                border:1px solid var(--dropdown-border);
                border-right: transparent; 
                border-bottom: transparent; 
                border-top-left-radius: var(--radius-sm);
                background: var(--dropdown-bg);
                content: ' ';
                display: block;
                position: absolute;
                z-index: 1;
                left: var(--arrow-left-position);
                bottom: calc(100% - 8px);
                right: var(--arrow-right-position);
                }
                &[data-align="end"] {
                    --dropdown-position:calc( -1 * (var(--dropdown-width)/2 - 0.5rem)); 
                    &:after {
                        --arrow-left-position:initial;
                        --arrow-right-position:1rem;
                    }
                }

        }
        &-toggle {
            &:has( svg ) {
                // @apply flex gap-1 items-center;
                display: flex;
                gap: var(--size-1);
                align-items: center;
                &[data-dropdown='open']{
                    box-shadow: var(--shadow-md);
                    > svg {
                        transform-origin: center;
                        transform: rotate(180deg);
                    }
                    + .dropdown-menu  {
                        display: block;
                    }
                }
                // data-dropdown='open' end
          }
         }
        //  .dropdown-toggle end 
    }

   

    
}