@tailwind components;

@layer components {

    .dropdown {
        &[data-state="open"] {
        //    @apply outline outline-neutral-100; 
           outline: solid;
           outline-color: var(--color-neutral-100);
        }
        --top: 100%;
        --right: auto;
        --min-width: 14rem;
        --bg: theme('colors.white');
        --radius: theme('borderRadius.sm');  
        position: relative;
        
        &>&-menu {
            top: var(--top, initial);
            right: var(--right, initial);
            bottom: var(--bottom, initial);
            left: var(--left, initial);
            min-width: var(--min-width);
            background: var(--bg);
            // @apply absolute border border-neutral-100 shadow-xl p-2 py-4 rounded hidden z-50;
            position: absolute;
            border: 1px solid;
            border-color: var(--color-neutral-100);
            box-shadow: var(--shadow-xl);
            padding: var(--size-2);
            padding-block: var(--size-4);
            border-radius: var(--radius-rounded);
            display: none;
            z-index: var(--index-50);

        }
        &-toggle {
            &:has( svg ) {
                // @apply flex gap-1 items-center;
                display: flex;
                gap: var(--size-1);
                align-items: center;
                &[data-dropdown='open']{
                    // @apply shadow-md;
                    box-shadow: var(--shadow-md);
                    > svg {
                        transform-origin: center;
                        transform: rotate(180deg);
                        // @apply origin-center rotate-180;         
                    }
                    + .dropdown-menu  {
                        // @apply block;
                        display: block;
                    }
                }
                // data-dropdown='open' end
          }
         }
        //  .dropdown-toggle end 
    }

   

    
}