// Configuration
// Property	                        Default value	        Description
// --gutter	                        $global-gutter	        This defines the space between each item.
// --auto-grid-min-item-size	    20rem	                How large each item should be, as a minimum
// --auto-grid-placement	        auto-fill	            Set either auto-fit or auto-fill to change how empty grid tracks are handled



.auto-grid {
    display: grid;
    grid-template-columns: repeat(var(--auto-grid-placement, auto-fill), minmax(var(--auto-grid-min-item-size, 16rem), 1fr));
    grid-gap: var(--gutter, clamp(1.375rem, 1.2rem + 0.89vw, 1rem));
}

// EX: 
/*
    <section class="auto-grid">
        <div>Auto Grid Item</div>
        <div>Auto Grid Item</div>
        <div>Auto Grid Item</div>
        <div>Auto Grid Item</div>
        <div>Auto Grid Item</div>
    </section>
*/