/* stack utility start  */
.stack {
  --stack-gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & > * {
    margin-block: 0;
  }

  & > * + * {
    margin-block-start: var(--stack-gap, 0.5rem);

  }
}

/* stack utility end */

  
  // allows you to break the stack and fill the avaiable space above the applied
  // element
  .stack-grow {
    --stack-gap: auto;
  }
  
  @each $name, $space in $token-sizes {
    // Generate gap classes to be combined with 'stack'
    // can be applied to child elements to impact the space between the applied
    // element and the preceding element.
    .stack-g-#{$name} {
      --stack-gap: var(--size-#{$name});
    }
  }