


    .list {
        padding: var(--size-2);
        gap: var(--size-2);

        &_item {
           
            padding: var(--size-2);
            padding-inline: var(--size-3);
            border-radius: var(--radius-rounded);
            &:hover {
                background-color: var(--color-primary-200);
            }

            &[data-state="active"] {
                background-color: var(--color-primary-100);
            }

            &:hover {
                .item-checkbox:not([data-state='active']) {
                    --bg: var(--color-primary-500);
                    --color: var(--color-white);
                }
            }

        }


        // list_item
        &-divider {
            // @apply border-b;
            border-bottom: 1px solid;
            border-color: var(--color-border, initial);
        }

        &-title {
            // @apply text-ellipsis overflow-hidden whitespace-nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

        }


        &-label {
            --gap: var(--size-1);
            // @apply text-[.875em] p-1 flex;
            font-size: var(--fs-10);
            padding: var(--size-1);
            display: flex;
        }


        // list-label 
    }

    // .list end 
    .item {
        &-link {
            // @apply block hover:text-primary-500;
            display: block;
            &:hover {
                color: var(--color-primary-500);
            }
        }

        // item-link end 

        &-checkbox {
            --bg: var(--color-primary-200);
            --color: var(--color-primary-600);
            background: var(--bg);
            color: var(--color);

            &:has(svg) {
                // @apply aspect-square;
                aspect-ratio: var(--ratio-square);

                & svg {
                    // @apply  text-[rgba(255,255,255,.25)] ;
                    color: rgba(255,255,255,.25);
                }
            }


            // @apply min-w-[1.5em] w-fit grid rounded place-content-center place-items-center;
            min-width: 1.5em;
            width: fit-content;
            display: grid;
            border-radius: var(--radius-rounded);
            place-content: center;
            place-items: center;

            &:hover {
                --bg: var(--color-primary-500);
                --color: var(--color-white);
            }

            &[data-state='active'] {
                --bg: var(--color-primary-900);
                --color: var(--color-white);

                & svg {
                    // @apply text-inherit;
                    color: inherit;
                }
            }
        }
    }


    // .item-checkbox
