    .list {
        --list-padding:var(--size-2);
        --list-gap:var(--size-2);
        padding: var(--list-padding);
        gap: var(--list-gap);

        &_item {
            --list-divider-space:var(--size-2);
            --list-divider-color:var(--color-border) ;
            --list-item-padding: var(--size-2);
            --list-item-padding-inline:var(--size-3) ;
            --list-item-padding-block: ;
            --list-item-radius: var(--radius-rounded);
            --list-item-bg: none;
            --list-item-bg-hover: var(--color-primary-200) ;
            --list-item-bg-active: var(--color-primary-100);
            padding: var(--list-item-padding);
            padding-inline: var(--list-item-padding-inline);
            border-radius: var(--list-item-radius);
            background-color: var(--list-item-bg);
            &:hover {
                --list-item-bg:var(--list-item-bg-hover);
            }

            &:where(.active, [data-state="active"]) {
                --list-item-bg:var(--list-item-bg-active);
            }


        }


        // list_item
        &-divider {
            border-bottom: 1px solid;
            border-color: var(--list-divider-color, initial);
            margin-block: var(--list-divider-space);
        }

        &-title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

        }

        // this needs to move as indipendant component
        &-label {
          
        }


        // list-label 
    }

    // .list end 
    .item {
        &-link {
            display: block;
            &:hover {
                color: var(--color-primary-500);
            }
        }

        // item-link end 
    }
