@use './../tokens' as *;
@use './../mixin/_mixin-dir' as *;

$display: block,
inline-block,
inline,
flex,
inline-flex,
table,
inline-table,
table-caption,
table-cell,
table-column,
table-column-group,
table-footer-group,
table-header-group,
table-row-group,
table-row,
flow-root,
grid,
inline-grid,
contents,
list-item,
hidden,
visible;




@each $prop in $display {
    @if $prop==hidden {
        .#{$prop} {
            display: none;
        }
    }
    @if $prop==visible {
        .#{$prop} {
            display: block;
        }
    }

    @else {
        .#{$prop} {
            display:#{$prop};
        }
    }


// Utilities to remove something completely from the screen based on breakpoints
    @each $b-points,
    $val in $token-breakpoints {
        @include breakpoint-up($b-points) {
        
            @if $prop==hidden {
                .#{$b-points}\:#{$prop} {
                    display: none;
                }
            }
            @if $prop==visible {
                .#{$b-points}\:#{$prop} {
                    display: block;
                }
            }

            @else {
                .#{$b-points}\:#{$prop} {
                    display:#{$prop};
                }
            }
        }
    }

}