// new code from here     
// TODO: need to work on the logical spacers

.drop-shadow {
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));

    &-sm {
        filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
    }

    &-md {
        filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    }

    &-lg {
        filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    }

    &-xl {
        filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    }

    &-xxl {
        filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
    }

    &-none {
        filter: drop-shadow(0 0 #0000);
    }
}