:root {
    --icon-size-xxxs: var(--fs-8);
    --icon-size-xxs: var(--fs-12);
    --icon-size-xs: var(--fs-16);
    --icon-size-sm: var(--fs-20);
    --icon-size-md: var(--fs-24);
    --icon-size-lg: var(--fs-28);
    --icon-size-xl: var(--fs-32);
    --icon-size-xxl: var(--fs-36);
    --icon-size-xxxl: var(--fs-40);
  }
  
  svg {
    fill: currentColor;
  }
  
  :is(svg.icon) {
    fill: currentColor;
    --icon-size: ;
    aspect-ratio: 1 / 1;
    height: 1em;
    width: 1em;
    font-size: var(--icon-size, inherit);
    &.xxxs {
      --icon-size: var(--icon-size-xxxs);
    }
    &.xxs {
      --icon-size: var(--icon-size-xxs);
    }
    &.xs {
      --icon-size: var(--icon-size-xs);
    }
    &.sm {
      --icon-size: var(--icon-size-sm);
    }
    &.md {
      --icon-size-md: var(--icon-size-md);
    }
    &.lg {
      --icon-size: var(--icon-size-lg);
    }
  
    &.xl {
      --icon-size: var(--icon-size-xl);
    }
    &.xxl {
      --icon-size: var(--icon-size-xxl);
    }
    &.xxxl {
      --icon-size: var(--icon-size-xxxl);
    }
  }
  
  // common style for the kabab-action icon
  