$overflow: auto, hidden, scroll, visible;

@each $val in $overflow {
  .overflow-#{$val} {
    overflow: #{$val};
  }
  .overflow-x-#{$val} {
    overflow-x: #{$val};
  }
  .overflow-y-#{$val} {
    overflow-y: #{$val};
  }
}

.momentum-scrolling {
  -webkit-overflow-scrolling: touch;
}

.overscroll-contain {
  overscroll-behavior: contain;
}
