    
// new code from here     
    // TODO: need to work on the logical spacers
    $logical-sides: 
    inline,
    inline-start,
    inline-end,
    block,
    block-start,
    block-end;
    
    
    
    // non looping classes 
    .p {
        &-auto {
                padding:auto;
            }
        &x-auto {
             padding-inline-start:auto;
            padding-inline-end:auto;
        }
        &y-auto {
             padding-block-start:auto;
             padding-block-end:auto;
        }
        // padding block end 
    }
    // .p end non looping 
    
    
    
    
    // .m non looping style end 
    .m {
        &-auto {
                margin:auto;
            }
        &x-auto {
             margin-inline:auto;
        }
        &y-auto {
             margin-block:auto;
        }
    }
    // margin non looing style end 
    
    // looping spacers 
    @each $val,
    $space in $mbo-spacer-sizes {
    
        .p {
            &-#{$val} {
                padding:var(--space-#{$val});
            }
            &t-#{$val} {
                padding-block-start:var(--space-#{$val});
            }
            &r-#{$val} {
                padding-inline-end:var(--space-#{$val});
            }
            &b-#{$val} {
                padding-block-end:var(--space-#{$val});
            }
            &l-#{$val} {
                padding-inline-start:var(--space-#{$val});
            }
            &x-#{$val} {
                padding-inline-start:var(--space-#{$val});
                padding-inline-end:var(--space-#{$val});
            }
            &y-#{$val} {
                padding-block-start:var(--space-#{$val});
                padding-block-end:var(--space-#{$val});
            }
    
            @each $side in $logical-sides {
                &-#{$side}-#{$val} {
                    padding-#{$side}:var(--space-#{$val});
                }
            }
        } 
        // padding end 
    
        .m {
            &-#{$val} {
                margin:var(--space-#{$val});
            }
            &t-#{$val} {
                margin-top:var(--space-#{$val});
            }
            &r-#{$val} {
                margin-right:var(--space-#{$val});
            }
            &b-#{$val} {
                margin-bottom:var(--space-#{$val});
            }
            &l-#{$val} {
                margin-inline-start:var(--space-#{$val});
            }
            &x-#{$val} {
                margin-inline-start:var(--space-#{$val});
                margin-right:var(--space-#{$val});
            }
            &y-#{$val} {
                margin-top:var(--space-#{$val});
                margin-bottom:var(--space-#{$val});
            }
            // for logical spacer 
            @each $side in $logical-sides {
                &-#{$side}-#{$val} {
                    margin-#{$side}:var(--space-#{$val});
                }
            }
        } 
        // margin end 
    }
    //   .padding & .margin loop end 
    
    @each $b-points,
    $val in $mbo-breakpoints {
    
        @include breakpoint-up($b-points) {
    
            @each $val,
            $space in $mbo-spacer-sizes {
                .#{$b-points}\:p {
                    &-#{$val} {
                        padding: var(--space-#{$val});
                    }
                    &t-#{$val} {
                        padding-block-start:var(--space-#{$val});
                    }
                    
                    &r-#{$val} {
                        padding-inline-end:var(--space-#{$val});
                    }
                    
                    &b-#{$val} {
                        padding-block-end:var(--space-#{$val});
                    }
                    
                    &l-#{$val} {
                        padding-inline-start:var(--space-#{$val});
                    }
                    
                    &x-#{$val} {
                        padding-inline-start:var(--space-#{$val});
                        padding-inline-end:var(--space-#{$val});
                    }
                    
                    &y-#{$val} {
                        padding-block-start:var(--space-#{$val});
                        padding-block-end:var(--space-#{$val});
                    }
    
                }
                // padding loop with break point end
                // margin loop here 
                .#{$b-points}\:m {
                    &-#{$val} {
                        margin: var(--space-#{$val});
                    }
                    &t-#{$val} {
                        margin-top:var(--space-#{$val});
                    }
                    
                    &r-#{$val} {
                        margin-right:var(--space-#{$val});
                    }
                    
                    &b-#{$val} {
                        margin-bottom:var(--space-#{$val});
                    }
                    
                    &l-#{$val} {
                        margin-inline-start:var(--space-#{$val});
                    }
                    
                    &x-#{$val} {
                        margin-inline-start:var(--space-#{$val});
                        margin-right:var(--space-#{$val});
                    }
                    
                    &y-#{$val} {
                        margin-top:var(--space-#{$val});
                        margin-bottom:var(--space-#{$val});
                    }
                
                }
                // margin loop with break point end
            }
            
            //  auto spacer with breakpoint 
            .#{$b-points}\:p {
                &-auto {
                    padding:auto;
                }
                &x-auto {
                    padding-inline-start:auto;
                    padding-inline-end:auto;
                }
                &y-auto {
                     padding-block-start:auto;
                     padding-block-end:auto;
                }
            }
            // padding auto breakpoints
            
            .#{$b-points}\:m {
                &-auto {
                    margin:auto;
                }
                &x-auto {
                    margin-inline-start:auto;
                    margin-right:auto;
                }
                &y-auto {
                     margin-top:auto;
                     margin-bottom:auto;
                }
            }
            // margin auto breakpoints end 
        }
        
    }