
@layer components {
    .label {
        --bg-label: var(--color-neutrals-400);
        --fg-label:var(--color-white);
        --bg-label-success:var(--color-success-200);
        --fg-label-success:var(--color-white);
        --fs-label:var(--fs-12);
        --space-label:var(--size-0-5) var(--size-1);
        &_bg {
            background: var(--bg-label, var(--bg-body));
            color: var(--fg-label, var(--fg-body));
            font-size: var(--fs-label);
            padding: var(--spacing-label);
        }
        &.success {
            --bg-label:var(--bg-label-success);
            --fg-label:var(--fg-label-success);
        }
    }
}