/* You can add global styles to this file, and also import other style files */

@import "./styles/mbo-style.scss";

/*******
* compositions classes
*******/
@import './styles/compositions/_compositions-dir';

/*******
* generative utility classes
*******/
@import './styles/utilities/_utilities-dir';  // all utilities in one scss file 


// TODO: need to use core SCSS file for all the MF

@layer reset,
defaults,
framework,
base,
theme,
patterns,
components,
utilities,
overrides;

* {
  box-sizing: border-box;
}

body {
  font-size: var(--fs-14);
  font-weight: normal;
  line-height: 1.5;
  color: var(--color-neutrals-400);
  margin: 0;
  font-family: var(--roboto, "Roboto", sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:is(h1, h2, h3):has(+ :is(h2, h3, h4)) {
  margin: 0 0 0.25rem 0;
}

svg {
  fill: currentColor;
}

:is(svg.icon) {
  aspect-ratio: var(--ratio-square);
  height: 1em;
  width: 1em;
}

h1 {
  font-size: var(--fs-14);
}

h2 {
  font-size: var(--fs-9);
}

h3 {
  font-size: var(--fs-7);
}

h4 {
  font-size: var(--fs-6);
}

h5 {
  font-size: var(--fs-5);
}

h6 {
  font-size: var(--fs-4-5);
}

.title:where(h1, h2, h3, h4, h5) {
  font-family: var(--museo300);
}

/*:TODO  Need to grab the these custom props from design system */
